* {
  padding:0;
  margin:0;
  font-family: 'Italiana', serif;
}


#bar{
	font-size: 1.8em;
	width:15em;
	border-radius: .2em;
	padding:.2em;
}
#head{
	text-align: center;
	width:100%;
	padding:.2em;
	border
	position:relative;
}

#subhead{
	position: relative;
	max-width:70em;
	min-width:55em;
	margin: 0 auto;
}

#subhead #login_bar{
	position: absolute;
	top: -1.1em;
	right: 2.2em;
	color: #FBFBFB;
	margin-top: 2em;

}

#subhead a.login {
	color:lightgray;
	font-size: 1.3em;
	position: absolute;
	top: 1em;
	right:8.4em;

}

#subhead #h_align{
	position:absolute;
	top: 1.5em;
	left:3em;
	font-size: 1.3em;
	color:lightgray;
}

#h_align{
	text-decoration: none;
	color:lightgray;
}


button.arrow{
	top: .58em;
	right: 0em;
	position: absolute;
	font-size:1.7em;
	color:lightgray;
	background-color: white;
	border:none;
	cursor: pointer;
}

#subhead h1{
	margin-top: .8em;
	display:inline-block;
}

.login a{
	text-decoration: none;
}

#subhead h1 a{
	font-family: 'Italiana', serif;
	font-weight:normal;
	color: black;
	text-decoration: none;
	font-size:2.2em;
}

#head #sbar{
	margin-top:.2em;
	border-top: .1em solid;
	border-bottom: .1em solid;
	width:100%;
	height:4em;
	padding-top:.7em;
	z-index: -1;
}

#wrapper{
	position:relative;
}

#create{
	text-align: left;
	margin-left: 15em;
	padding:1em;
	border-left: 1px solid black;
}

#s_res{
	width:800em;
	margin-left:5em;
	margin-top:3em;
	border-left: 1px solid black;
}

#s_res table{
	padding: .5em;
}

#s_res table tr td{
	margin: 5em;
	width:13em;
	height:3em;
}

#s_res td{
	margin-right: 3em;
}
#copy{
	text-align: center;
}

#create form p, #create form input{
	margin-bottom: .5em;
}

#rss{
	
}

.feedEkList{width:450px; list-style:none outside none;background-color:#FFFFFF; border:1px solid #D3CAD7; padding:4px 6px; color:#3E3E3E;}
.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px;}
.feedEkList li:last-child{border-bottom:none;}
.itemTitle a{font-weight:bold; color:#4EBAFF; text-decoration:none }
.itemTitle a:hover{ text-decoration:underline }
.itemDate{font-size:11px;color:#AAAAAA;}

#example { font-weight: bold; cursor: pointer;}

textarea{
	resize:none;
}












