<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/FeedEk.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta charset = "UTF-8">
    <script>
      $(document).ready(function(){
        
        var x = {{user['zip_code']}}

        $('#divRss').FeedEk({
          FeedUrl : 'https://news.google.com/news/section?geo=' + x + '&ar=1459384211&output=rss'
        });
        
        var r = Math.floor(Math.random()*256);
        var g = Math.floor(Math.random()*256);
        var b = Math.floor(Math.random()*256);
        
        $('#example, .itemTitle a').css("color", getHex(r,g,b));
        
        $('#example').click(function() {
        
            $('.itemTitle a').css("color", getHex(r,g,b));

        });
        
        function intToHex(n){
            n = n.toString(16);
            if( n.length < 2) 
                n = "0"+n; 
            return n;
        }
        
        function getHex(r, g, b){
            return '#'+intToHex(r)+intToHex(g)+intToHex(b); 
        }
    
      });
  </script>
  </head>
  <body>
  	<div id = "head">
      <div id = "subhead">
        <h1><a href = "/">The Local Rag</a></h1>
        <div id = "h_align"> 
          <form action = '/new'method = "post">
            <a href = "/new">Become an Editor</a>
          </form>
        </div> 
        <div id = "logbatch">
          <a href = "/log_page" class = "login">LOGIN</a>
          <form action = "/login" method = "post">
            <div id = "login_bar">
              <input type = "text" name = "email" placeholder="Email"><br>
              <input type = "text" name = "pword" placeholder="Password"> 
            </div>
              <button type = "submit" class = "arrow">&rarr;</button>
            </form>
          </div>
      </div>
      <div id = "sbar">
        <form action = "/search" method = "post">
          <input type = "text" name = "search" id = "bar" placeholder="Find your city."> 
          <input type="image" src="/static/uploads/search-svg.svg" alt="Submit Form" />
        </form> 
      </div>
    </div>
    {{user['zip_code']}}

    <div id = "bar">

    <div id = "intro">
      <h3>Welcome, {{session['name']}}</h3>
    </div> 

    <div id = "intro_box">
      <div id = 'circle'>
        {%if session['url'] == '/static/uploads/default.png'%}
          <div id = "if_box">
            <form action = "/prof_pic" method= "post" enctype="multipart/form-data">
              <input type="file" class = "up_image" name="image" accept="image/*">
              <button type = "submit" class = "b_image">Change Pic!</button> 
            </form> 
          </div>
        {%endif%}
        <a href = "/users/{{session['id']}}"><img class = 'prof_pic'src = "session['url']" alt = "you" width = "100"></a>
      </div>
      <div id = "detail_box">
        <a href = "/users/{{session['id']}}"> Your Profile</a>
        <a href = "/users/{{session['id']}}/edit">Edit Profile</a> 
      </div> 
    </div> 


    <div id = "write_art"></div> 
      <h3>Author an Article</h3>
      <form action = "/new_art" method = "post">
        <p>Pick a category!</p> 
        <select name = "category"> 
          <option value = "news">News</option>
          <option value = "opinion">Opinion</option>
          <option value = "sports">Sports</option>
          <option value = "business">Business</option>
          <option value = "classifieds">Classifieds</option>
          <option value = "entertainment">Entertainment</option>

        </select>
        <button type = "submit">Write!</submit> 
      </form>
    </div>
  
  <div id = "pipeline">
    <table> 
      <tr>
        <td>Article</td>
        <td>Original Author</td> 
        <td> Category</td>
        <td>Last Updated by</td> 
    {%if articles%}
      {%for article in articles%}
      <tr>
        <td>{{article['content']}}</td>
        <td>{{article['author']}}</td>
        <td>{{article['category']}}</td>
        <td>{{article['editor']}}</td>
      <tr>
      {%endfor%}
      </table>
    {%else%}
      </table>
      <p class = "none">No articles, yet!</p>
    {%endif%}
  </div>

    <div id = "border1">
      <div id = "border2">
        <div id = "border3">
          <div id="example">All Ye' Local Happenings, Lately</div>
          <div id="divRss"></div>
        </div>
      </div>
    </div> 
    