<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/FeedEk.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta charset = "UTF-8">
    <script>
      $(document).ready(function(){
        
        var x = {{user['zip_code']}}

        $('#divRss').FeedEk({
          FeedUrl : 'https://news.google.com/news/section?geo=' + x + '&ar=1459384211&output=rss'
        });
        
        var r = Math.floor(Math.random()*256);
        var g = Math.floor(Math.random()*256);
        var b = Math.floor(Math.random()*256);
        
        $('#example, .itemTitle a').css("color", getHex(r,g,b));
        
        $('#example').click(function() {
        
            $('.itemTitle a').css("color", getHex(r,g,b));

        });
        
        function intToHex(n){
            n = n.toString(16);
            if( n.length < 2) 
                n = "0"+n; 
            return n;
        }
        
        function getHex(r, g, b){
            return '#'+intToHex(r)+intToHex(g)+intToHex(b); 
        }
    
      });
  </script>
  </head>
  <body>
  	<div id = "head">
      <div id = "subhead">
        <h1><a href = "/">The Local Rag</a></h1>
        <div id = "h_align"> 
          <form action = '/new'method = "post">
            <a href = "/new">Become an Editor</a>
          </form>
        </div> 
        <div id = "logbatch">
          <a href = "/log_page" class = "login">LOGIN</a>
          <form action = "/login" method = "post">
            <div id = "login_bar">
              <input type = "text" name = "email" placeholder="Email"><br>
              <input type = "text" name = "pword" placeholder="Password"> 
            </div>
              <button type = "submit" class = "arrow">&rarr;</button>
            </form>
          </div>
      </div>
      <div id = "sbar">
        <form action = "/search" method = "post">
          <input type = "text" name = "search" id = "bar" placeholder="Find your city."> 
          <input type="image" src="/static/uploads/search-svg.svg" alt="Submit Form" />
        </form> 
      </div>
    </div>
    {{user['zip_code']}}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id = "error">
            <h2>Error<h2>
              <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      {% endwith %}


    <div id="example">The feed</div>
    <div id="divRss"></div>

    