<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta charset = "UTF-8">
  </head>
  <body>
    <div id = "head">
      <div id = "subhead">
        <h1>The Local Rag</h1>
        <form action = '/new'method = "post">
          <a href = "/new">Become an Editor</a>
        </form>
        <form action = "/register" method = "post">
          <button>Sign up</button> 
        </form> 
      </div>
      <form action = "/search" method = "post">
        Find Your City: <input type = "text" name = "search"> 
        <button type = "submit">Submit!</button> 
      </form> 
    </div>
  </body>
</html>

