<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div id = "head">
      <div id = "subhead">
        <h1><a href = "/">The Local Rag</a></h1>
        <form action = '/new'method = "post">
          <a href = "/new">Become an Editor</a>
        </form>
      </div>
      <form action = "/search" method = "post">
        Find Your City: <input type = "text" name = "search"> 
        <button type = "submit">Submit!</button> 
      </form> 
    </div>

    <div id = "copy">
      <!--This content is temporary. I can't think of any compelling copy but realize a blank sign up page probably isn't great!-->
      <ul>Become an editor and
        <li>share your observations and interests</li>
        <li>and thoughts</li>
        <li>and insights</li>
        <li>about the city in which you live.</li>
      </ul>
    </div>

    <div id = "create">
    	<form action = "/create" method= "post">
    		<p>Email Address:</p>
    		<input type = "text" name = "email">
    		<p>First Name</p>
    		<input type = "text" name = "fname">
    		<p>Last Name:</p>
    		<input type = "text" name = "lname">
        <p>Your City:</P>
        <input type = "text" name = "city">
        <p>Your Zip Code:</P>
        <input type = "text" name = "zipcode">
        <p>Date of Birth:</p>
        <input type = "date" name = "dob">
    		<p>Password:</p>
    		<input type = "text" name = "pword">
    		<p>Confirm Password:</p>
    		<input type = "text" name = "cword">

        <div id = "question">
          <h6>Provide a brief description of what you hope to contribute in regard to the editorial content of this site</h6>
          <textarea name = "quetion"></textarea>
        </div>
        <button type = "submit">Add!</button>
    	</form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id = "error">
            <h2>Error<h2>
              <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      {% endwith %}
  	</div>