<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div id = "head">
      <div id = "subhead">
        <h1><a href = "/">The Local Rag</a></h1>
        <div id = "h_align"> 
          <form action = '/new'method = "post">
            <a href = "/new">Become an Editor</a>
          </form>
        </div> 
        <div id = "logbatch">
          <a href = "/log_page" class = "login">LOGIN</a>
          <form action = "/login" method = "post">
            <div id = "login_bar">
              <input type = "text" name = "email" placeholder="Email"><br>
              <input type = "text" name = "pword" placeholder="Password"> 
            </div>
              <button type = "submit" class = "arrow">&rarr;</button>
            </form>
          </div>
      </div>
      <div id = "sbar">
        <form action = "/search" method = "post">
          <input type = "text" name = "search" id = "bar" placeholder="Find your city."> 
          <input type="image" src="/static/search-svg.svg" alt="Submit Form" />
        </form> 
      </div>
    </div>

    <div id = "copy">
      <!--This content is temporary. I can't think of any compelling copy but realize a blank sign up page probably isn't great!-->
      <ul>Become an editor and
        <li>share your observations and interests</li>
        <li>and thoughts</li>
        <li>and insights</li>
        <li>about the city in which you live.</li>
      </ul>
    </div>
  <div id = "wrapper">
    <div id = "create">
    	<form action = "/create" method= "post" enctype="multipart/form-data">
    		<p>Email Address:</p>
    		<input type = "text" name = "email">
    		<p>First Name:</p>
    		<input type = "text" name = "fname">
    		<p>Last Name:</p>
    		<input type = "text" name = "lname">
        <p>Your City:</P>
        <input type = "text" name = "city">
        <p>Your Zip Code:</P>
        <input type = "text" name = "zipcode">
        <p>Date of Birth:</p>
        <input type = "date" name = "dob">
    		<p>Password:</p>
    		<input type = "text" name = "pword">
    		<p>Confirm Password:</p>
    		<input type = "text" name = "cword">
        <p>Profile Pic</p>
        <input type="file" name="image" accept="image/*"> 
        <p>Keep photo 400x400 for the best results!<p> 

        <div id = "question">
          <h6>Provide a brief description of what you hope to contribute in regard to the editorial content of this site:</h6>
          <textarea name = "quetion" rows = 8 cols = 90></textarea>
        </div>
        <button type = "submit">Add!</button>
    	</form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id = "error">
            <h2>Error<h2>
              <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      {% endwith %}
  	</div>