<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div id = "head">
      <h5>Text App<h5>
      <a href = "/">Home<p>
      <a href = "/signin">Sign in</a>
    </div>
  	
    <div id = "regwrap">
      <div id = "regbox">
        <form action = "/signingin" method = "post">
          <p>Email Address:</p>
          <input type = "text" name = "email">
          <p>Password:</p>
          <input type = "text" name = "pword">
          <button type = "submit">Submit!</button>
        </form> 

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id = "error">
            <h2>Error<h2>
              <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      {% endwith %}
  	</div>

    <a href = "/register" class = "bottom">Don't have an account? <b>Register!</b></a>
  </body>