<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta charset = "UTF-8">
  </head>
  <body>
  	<div id = "head">
      <a href = "/">HOME</a> 
    </div> 
    <div id = "paper">
      {{paper['name']}}

    <div id = "headlines">
      <div = "leadbox">
        <h2>{{headlines[0][title]}}</h2>
        <a href = "/users/{{headlines[0][user_name]">{{headlines[0][user_name]}}</a>
        <img src = "{{headlines[0][img]}}">
        {{headlines[0][content]}}
      </div>
      <p class = "readmore"><a href = "/paper/headhline[0]['id']">
      {%for x in range(1,14)%}
      <table class = "hbottom"> 
        </tr> 
          <td><img src = "{{headlines[x][img]"></td> 
          <td>{{headlines[x][content]}}</td>
        </tr>



      <p>1</p>
    </div> 


  

