<html>
	<head>
	    <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	    <meta charset = "UTF-8">
	    <script>
	    	var h_cat = {{i_category}};
	    	if (h_cat == "n" || h_cat == "b"){$('#sources').show();};

	      $(document).ready(function(){}
	      	('option').click(function(){
	      		h_cat = $(this).attr('id');
	      		if &
	      		if (h_cat != "n" || h_cat != "b"){
	      			if ($('#sources').is(":visible")){$('#sources').slideUp();}
	      		}else {
	      			($('#sources').is(":visible") == false){$('$sources').slideDown();}
	      		}







	      	});
	      });
	    </script>
   </head>
   <body> 

   	<div id ='subwrite'>
   		<h2>What do you have to say about your city?</h2>
   	</div>
   	<div id = 'cat_pic' method = 'post'>
   		<p>File To: </p>
	   	<form id = "/cat_pic">
	   		<select name = "category"> 
	   		{%if i_category == "n"}
	   			<option id = 'n' class = 'o' value = "n" selected = 'selected'>News</option>
	   		{%else%}
	   			<option id = 'n' class = 'o' value = "n">News</option>
	   		{%endif%}
	   		{%if i_category == "o"}
	   			<option id = 'o' class = 'o'value = "o" selected = 'selected'>Opinion</option>
	   		{%else%}
	   			<option id = 'o' class = 'o' value = "o">Opinion</option>
	   		{%endif%}
	   		{%if i_category == "s"}
	   			<option id = 's' class = 'o' value = "s" selected = 'selected'>Sports</option>
	   		{%else%}
	   			<option id = 's' class = 'o' value = "s">Sports</option>
	   		{%endif%}
	   		{%if i_category == "b"}
	   			<option id = 'b' class = 'o' value = "b" selected = 'selected'>Business</option>
	   		{%else%}
	   			<option id = 'b' class = 'o' value = "b">Business</option>
	   		{%endif%}
	   		{%if i_category == "c"}
	   			<option id = 'c' class = 'o' value = "c" selected = 'selected'>Classifieds</option>
	   		{%else%}
	   			<option id = 'c' class = 'o' value = "c">Classifieds</option>
	   		{%endif%}
	   		{%if i_category == "e"}
	   			<option id = 'e' class = 'o' value = "e" selected = 'selected'>Entertainment</option>
	   		{%else%}
	   			<option id = 'e' value = "Entertainment">Entertainment</option>
	   		{%endif%}

	    
	   <div id = "article_area">
	   		<textarea id = "art_ar" name = "article" rows = "30" cols = "90">
	   		</textarea>
	   		<div id = "sources" style = "display:hidden"> 
	   			<ol><span class = "g">Source guidelines</span>
	   				<li>Sources MUST be valid link</li>
	   				<li>Minimum two sources for news-related items</li> 
	   			</ol> 
	   			<input type = "text" name = "source[]" value = "1">
	   			<input type = "text" name = "source[]" value = "2">
	   		</div>
	   		<button id = "add_source">Add Source!</buttoN> 
	   		<div> 
	   		<button id = "art_submit" name = "submit">Submit!</button> 
	   	</div>

   	</form>

   	<div id = "art_table">
   		<table>
   			<tr>
   				<td> 
   		{%for article in articles%}




